<div class="changeLoginOuter" ng-controller="changePasswordCtrl">
    <form ng-submit="changePasswordUser()" class="loginStyle">
        <div class="changeLogin-inner">
            <h3>ලංකාපුර රාජධානිය</h3>
            <div class="form-group textAlignLeft marginTopLarge">
                <label for="usr">පරිශීලක නාමය</label>
                <input type="text" class="form-control" id="usr" ng-model="changeInfo.addUsername">
            </div>
            <div class="alert-danger" ng-show="errorMsgUser">
                <p>{{userErrorMsg}}</p>
            </div>
            <div class="form-group textAlignLeft">
                <label for="usr">නව මුරපදය</label>
                <input type="password" class="form-control" id="newPwd" ng-model="changeInfo.newPassword">
            </div>
            <div class="alert-danger" ng-show="errorMsgNewPwd">
                <p>{{newPwdErrorMsg}}</p>
            </div>
            <div class="textAlignLeft form-group">
                <label for="usr">නව මුරපදය තහවුරු කරන්න</label>
                <input type="password" class="form-control" id="conNewPwd" ng-model="changeInfo.conPassword">
            </div>
            <div class="alert-danger" ng-show="errorMsgConPwd">
                <p>{{conPwdErrorMsg}}</p>
            </div>
            <div class="alert alert-success"  ng-if="pwdSuccessMsgShow">
                <p style="margin-top: 2px; padding: 4px; border-radius: 4px">{{pwdSuccessMsg}}</p>
            </div>
            <div class="clearfix"></div>
            <div class="marginTopSmall row">
                <button type="submit" class="btn btn-primary pull-right marginLeftChangeLoginButton">තහවුරු කරන්න</button>
            </div>
        </div>
    </form>
</div>